body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #283618;
}
button {
  padding: 1em 2em;
  font-size: 2em;
  font-weight: bold;
  color: #fefae0;
  background: none;
  border: #bc6c25 5px solid
}
button:hover {
  color:#e9c46a ; 
  border-color: #f4a261;
  box-shadow: 0em 0.5em 0.5em -0.4em ;
  transform: translatey(-0.25em);
  transition: color 0.2s transform 0.2s box-shadow 0.2s;
  cursor: pointer;
}