section:nth-of-type(1) h1:nth-of-type(1){
  width: 300px;
  padding:0.7em ;
  background-color: #264653;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 10em;
  transition: 5s;
}

section:nth-of-type(1) h1:nth-of-type(1):hover {
  transform: rotatex(90deg) scale(2);
  transform-origin: bottom right;
  transition: transform 4s ;
}